
<!DOCTYPE html>

<html lang="pt-br">

<head>
    {% include 'Recipes/partials/head.html' %}

    <title>{% block title %}{% endblock title %} Recipes</title>

</head>

<body>
    {% include 'Recipes/partials/header.html' %}
    {% include 'Recipes/partials/seach.html' %}


    <main class="main-content-container">
        <div class="main-content container main-content-list">
            {% block content %}{% endblock content %}
            
        </div>
    </main>

    {%include 'recipes/partials/footer.html'%}
</body>

</html>